body {
  background-color: #f1f1f1;
}
.blogcontainer {
  overflow: hidden;
}
.blogtext {
  position: absolute;
  top: 25%;
  right: 70%;
  font-size: 55px;
  color: white;
}
.categorytext {
  margin: 80px;
  text-align: center;
  color: #007f27;
}
.bloglistingarea {
  width: 90%;
}


.blogareacard {
  width: 90%;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}
.blogareacontainer{
  width: 80%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
}

.categorybtn{
  border: solid 1px rgba(255, 255, 255, 0.233);
  margin: 10px;
  color:green ;
  box-shadow: 0 2px 8px rgba(10, 10, 10, 0.08);
  transition: transform 0.2s ease;
}
.categorybtn:hover {
  transform: translateY(-4px);
  color: white;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.categorytext {
  animation: fadeDown 0.8s ease-out;
}

.blogbtn{
  background-color: green;
  color: white;
  margin-right: 20px;
  font-size: 12px;
}
.cardtopimg {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.blogcontent{
  font-size: 20px;
  color: green;
}
.blogcontentbtnrow{
margin-left: 20px;
}
.blogcardcontent {
  padding: 4%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.blogareacard{
  margin: 20px;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.blogareacard {
  animation: fadeDown 0.8s ease-out;
}
















@media (max-width: 320px) {
  .blogbanner {
    width: 110%;
  }

  .blogtext {
    position: absolute;
    top: 6%;
    right: 70%;
    font-size: 15px;
    color: white;
  }
  .Latestblogtext {
    margin: 10px;
    text-align: center;
    color: #007f27;
    font-size: 14px;
  }
}
@media (width:344px) {
    .blogbanner {
        width: 110%;
      }
    
      .blogtext {
        position: absolute;
        top: 5%;
        right: 70%;
        font-size: 15px;
        color: white;
      }
      .Latestblogtext {
        margin: 10px;
        text-align: center;
        color: #007f27;
        font-size: 14px;
      }
}


@media (min-width:345px) and (max-width: 359px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 9%;
      right: 70%;
      font-size: 15px;
      color: white;
    }
    .Latestblogtext {
      margin: 10px;
      text-align: center;
      color: #007f27;
      font-size: 14px;
    }
  }
  @media  (width: 360px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 6%;
      right: 70%;
      font-size: 15px;
      color: white;
    }
    .Latestblogtext {
      margin: 10px;
      text-align: center;
      color: #007f27;
      font-size: 14px;
    }
  }
  @media (width: 375px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 7%;
      right: 70%;
      font-size: 15px;
      color: white;
    }
    .Latestblogtext {
      margin: 10px;
      text-align: center;
      color: #007f27;
      font-size: 14px;
    }
  }
  @media (width:390px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 5%;
      right: 70%;
      font-size: 15px;
      color: white;
    }
    .Latestblogtext {
      margin: 10px;
      text-align: center;
      color: #007f27;
      font-size: 16px;
    }
  }


@media (width: 412px) {
  .blogbanner {
    width: 110%;
  }

  .blogtext {
    position: absolute;
    top: 6%;
    right: 70%;
    font-size: 15px;
    color: white;
  }
  .Latestblogtext {
    margin: 10px;
    text-align: center;
    color: #007f27;
    font-size: 16px;
  }
}
  @media (width: 414px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 6%;
      right: 70%;
      font-size: 15px;
      color: white;
    }
    .Latestblogtext {
      margin: 10px;
      text-align: center;
      color: #007f27;
      font-size: 16px;
    }
  }
  @media  (width: 425px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 9%;
      right: 70%;
      font-size: 15px;
      color: white;
    }
    .Latestblogtext {
      margin: 10px;
      text-align: center;
      color: #007f27;
      font-size: 16px;
    }
  }
  @media  (width: 430px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 6%;
      right: 70%;
      font-size: 15px;
      color: white;
    }
    .Latestblogtext {
      margin: 10px;
      text-align: center;
      color: #007f27;
      font-size: 16px;
    }
  }

  @media (min-width:431px) and (max-width: 540px) {
    .blogbanner {
      width: 120%;
    }
  
    .blogtext {
      position: relative;
     top: 70px;
      right: 70%;
      font-size: 23px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }
  @media ( (min-width:541px) and (max-width: 767px))  {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 17%;
      right: 70%;
      font-size: 26px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }
  @media  (width: 768px) {
    .blogbanner {
        width: 110%;
      }
      .blogtext {
        position: relative;
        top: 100px;
        bottom: 0px;
        right: 80%;
        font-size: 26px;
        color: white;
      }
      .Latestblogtext {
        margin: 10px;
        text-align: center;
        color: #007f27;
        font-size:24px;
      }
  }

  @media  (width: 820px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 10%;
      right: 70%;
      font-size: 26px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }
  
  @media  (width: 912px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: relative;
    top: 100px;
      right: 70%;
      font-size: 26px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }

  @media  (width: 853px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: relative;
    top: 100px;
      right: 70%;
      font-size: 26px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }
  @media (min-width:913px) and (max-width: 1023px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: absolute;
      top: 20%;
      right: 70%;
      font-size: 26px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }
  @media (width: 1024px) {
    .blogbanner {
      width: 110%;
    }
  
    .blogtext {
      position: relative;
      top: 130px;
      right: 70%;
      font-size: 26px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }
  @media (width:1280px)  {
    .blogbanner {
        width: 110%;
      }
      .blogtext {
        position: absolute;
        top: 18%;
        right: 70%;
        font-size: 28px;
        color: white;
      }
      .Latestblogtext {
        margin: 20px;
        text-align: center;
        color: #007f27;
        font-size:28px;
      }

  }


  @media (min-width:1281px) and (max-width: 1440px) {
    .blogbanner {
      width: 90%;
    }
  
    .blogtext {
      position: absolute;
      top: 30%;
      right: 70%;
      font-size: 28px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:24px;
    }
  }
  @media (width: 2560px) {
    .blogbanner {
      width: 90%;
    }
      
    .blogtext {
      position: absolute;
      top: 30%;
      right: 70%;
      font-size: 55px;
      color: white;
    }
    .Latestblogtext {
      margin: 20px;
      text-align: center;
      color: #007f27;
      font-size:40px;
    }
    .blogareacontainer{
      width: 90%;
    }
  }
